.form {
  display: flex;
  flex-direction: column;
  > * {
    margin-bottom: $m-size;
  }
}

.form__error {
  margin: 0 0 $m-size 0;
  font-style: italic;
}

.form__link {
  margin: 0 0 $m-size 0;
  font-weight: bold;
  font-size: $font-size-large;
}